<nav class="navbar navbar-expand-md sticky-top py-3 navbar-light">
    <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span>Revolut</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav me-auto">
                <li class="nav-item"><a class="nav-link active" href="#">Personal</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Business</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Company</a></li>
            </ul><button class="btn bg-white me-3" type="button">Log in</button><button class="btn btn-dark" type="button">Sign up</button>
        </div>
    </div>
</nav><!-- End: Navbar With Button -->


